<div id="menubar"><img src="/content/bilder/ic_drawer.png" id="menu-indicator" alt="" /><h1><a href="/">Artnet</a></h1><img src="/content/bilder/ic_action_search.png" id="search" alt="" /></div>

<div class="status">
	<img src="http://placekitten.com/g/65/65" class="img-round" alt="" />
	<p><strong>Jane Doe</strong> betygsatte konstverket <strong>Den Trötta Kissen</strong>.</p> 
	<div class="footer"><div class="comment"><img src="/content/bilder/comment.svg" alt="" /> Kommentera</div><div class="like"><img src="/content/bilder/like.svg" alt="" />Gilla</div></div>
</div>
<div class="status">
	<img src="http://placekitten.com/g/70/70" class="img-round" alt="" />
	<p><strong>Per Stark</strong> besökte sin första konstutställning och fick titeln <strong>Färgkladdare</strong>.</p> 
	<div class="footer"><div class="comment"><img src="/content/bilder/comment.svg" alt="" /> Kommentera</div><div class="like"><img src="/content/bilder/like.svg" id="likethis" alt="" />Gilla</div></div>
</div>
<div class="status">
	<a href="/explore"><img src="http://placekitten.com/50/55" class="img-round" alt="" /></a>
	<p><strong>Peter James</strong> gick med i Artnet!</p> 
	<div class="footer"><div class="comment"><img src="/content/bilder/comment.svg" alt="" /> Kommentera</div><div class="like"><img src="/content/bilder/like.svg" alt="" />Gilla</div></div>
</div>
<div class="status">
	<a href="/museum"><img src="http://placekitten.com/g/65/65" class="img-round" alt="" /></a>
	<p><strong>Jane Doe</strong> betygsatte konstverket <strong>Kissemissen</strong>.</p> 
	<div class="footer"><div class="comment"><img src="/content/bilder/comment.svg" alt="" /> Kommentera</div><div class="like"><img src="/content/bilder/like.svg" alt="" />Gilla</div></div>
</div>
<div class="status">
	<img src="http://placekitten.com/g/65/65" class="img-round" alt="" />
	<p><strong>Jane Doe</strong> fick titeln <strong>Fullfjädrad Kulturtant</strong>.</p> 
	<div class="footer"><div class="comment"><img src="/content/bilder/comment.svg" alt="" /> Kommentera</div><div class="like"><img src="/content/bilder/like.svg" alt="" />Gilla</div></div>
</div>