<div id="menubar"><img src="/content/bilder/ic_drawer.png" id="menu-indicator" alt="" /><h1><a href="/">Kalender</a></h1><img src="/content/bilder/ic_action_search.png" id="search" alt="" /></div>
<div id="calendar">
<h1>Oktober 2014</h1>
<table>
	<tr class="">
		<th>mån</th>
		<th>tis</th>
		<th>ons</th>
		<th>tors</th>
		<th>fre</th>
		<th>lör</th>
		<th>sön</th>
	</tr>

	<tr>
		<td></td>
		<td></td>
		<td>1</td>
		<td>2</td>
		<td class="event-mark">3</td>
		<td>4</td>
		<td>5</td>
	</tr>

	<tr>
		<td>6</td>
		<td>7</td>
		<td>8</td>
		<td class="event-mark">9</td>
		<td>10</td>
		<td>11</td>
		<td>12</td>
	</tr>

	<tr>
		<td>13</td>
		<td>14</td>
		<td class="event-mark">15</td>
		<td>16</td>
		<td>17</td>
		<td>18</td>
		<td>19</td>
	</tr>

	<tr>
		<td>20</td>
		<td>21</td>
		<td class="event-mark">22</td>
		<td>23</td>
		<td class="event-mark">24</td>
		<td class="event-mark">25</td>
		<td>26</td>
	</tr>

	<tr>
		<td>27</td>
		<td>28</td>
		<td class="today">29</td>
		<td>30</td>
		<td>31</td>
		<td></td>
		<td></td>
	</tr>
</table>

<div class="event">
<div class="event-date">14 <p>nov</p></div>
<h2>Searching for smoothness</h2>
<p>En utställning om det mjuka i en hård värld.</p>
</div>

<div class="event">
<div class="event-date">23 <p>nov</p></div>
<h2>Miraklet</h2>
<p>I en värld där mirakel sällan sker.</p>
</div>

</div>