<div id="menubar"><img src="/content/bilder/ic_drawer.png" id="menu-indicator" alt="" /><h1><a href="/">Upptäck</a></h1><img src="/content/bilder/ic_action_search.png" id="search" alt="" /></div>

<div id="explore-map">
	<img src="/content/bilder/map.png" id="map-img" alt="" />
</div>

<div id="explore-list">
	<div class="list-item odd">
	<img src="http://placekitten.com/55/75" alt="" />
	<h3>Mona Lisa</h3>
	<p>Målades den 3 januari 1923</p>
	<p class="dist">357 m</p>
</div>
<div class="list-item even">
	<img src="http://placekitten.com/55/75" alt="" />
	<h3>Mona Lisa</h3>
	<p>Målades den 3 januari 1923</p>
	<p class="dist">827 m</p>
</div>
<div class="list-item odd">
	<img src="http://placekitten.com/55/75" alt="" />
	<h3>Mona Lisa</h3>
	<p>Målades den 3 januari 1923</p>
	<p class="dist">1.3 km</p>
</div>
<div class="list-item even">
	<img src="http://placekitten.com/55/75" alt="" />
	<h3>Mona Lisa</h3>
	<p>Målades den 3 januari 1923</p>
	<p class="dist">3.5 km</p>
</div>
</div>
