<div id="menubar"><img src="/content/bilder/ic_drawer.png" id="menu-indicator" alt="" /><h1><a href="/">Upptäck</a></h1><img src="/content/bilder/ic_action_search.png" id="search" alt="" /></div>

<div id="explore-map">
	<img src="/content/bilder/map.png" id="map-img" alt="" />
</div>

<div id="explore-list">
	<div class="list-item odd" id="rate-me">
	<img src="http://placekitten.com/80/75" alt="" />
	<h3>Kissemissen</h3>
	<p>Målades den 3 januari 1994</p>
	<p class="dist">357 m</p>
</div>
<div class="list-item even">
	<img src="http://placekitten.com/g/75/75" alt="" />
	<h3>Grön vår</h3>
	<p>Målades den 26 juni 2014</p>
	<p class="dist">827 m</p>
</div>
<div class="list-item odd">
	<img src="http://placekitten.com/g/90/75" alt="" />
	<h3>Trasig klo</h3>
	<p>Målades den 19 maj 2013</p>
	<p class="dist">1.3 km</p>
</div>
</div>
