<div id="menubar"><img src="/content/bilder/ic_drawer.png" id="menu-indicator" alt="" /><h1><a href="/">Bildmuseet</a></h1><img src="/content/bilder/ic_action_search.png" id="search" alt="" /></div>

<div class="floor">
	<h2>Våning 1</h2>
	<div class="list-item odd">
		<img src="http://placekitten.com/g/95/75" alt="" />
		<h3>Grönsaken</h3>
		<p>Målades den 4 mars 2003</p>
	</div>
	<div class="list-item even">
		<img src="http://placekitten.com/g/88/75" alt="" />
		<h3>Tåget</h3>
		<p>Målades den 29 mars 1993</p>
	</div>
</div>

<div class="floor">
	<h2>Våning 2</h2>
	<div class="list-item odd">
	<img src="http://placekitten.com/g/75/75" alt="" />
	<h3>Grön vår</h3>
	<p>Målades den 26 juni 2014</p>
</div>
<div class="list-item even">
	<img src="http://placekitten.com/g/90/75" alt="" />
	<h3>Trasig klo</h3>
	<p>Målades den 19 maj 2013</p>
</div>