<h1>Så sorterar ni!*</h1>

<div id="chips" class="sortbox">
	<h3>Chipspåse</h3>
	<canvas doughnutchart options="options" data="chipsdata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Mjukplast</strong></p>
</div>
<div id="pringles" class="sortbox">
	<h3>Pringlesrör</h3>
	<canvas doughnutchart options="options" data="pringlesdata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Pappersförpackning</strong></p>
</div>
<div id="glas" class="sortbox">
	<h3>Dryckesglas</h3>
	<canvas doughnutchart options="options" data="glasdata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Restavfall</strong></p>
</div>
<div id="frigolit" class="sortbox">
	<h3>Frigolit</h3>
	<canvas doughnutchart options="options" data="frigolitdata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Mjukplast</strong></p>
</div>
<div id="gummi" class="sortbox">
	<h3>Gummi</h3>
	<canvas doughnutchart options="options" data="gummidata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Restavfall</strong></p>
</div>
<div id="kaffe" class="sortbox">
	<h3>Kaffe</h3>
	<canvas doughnutchart options="options" data="kaffedata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Matavfall</strong></p>
</div>
<div id="kork" class="sortbox">
	<h3>Kork från kaviartub</h3>
	<canvas doughnutchart options="options" data="korkdata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Kvar på tuben, metall</strong></p>
</div>
<div id="kollegie" class="sortbox">
	<h3>Kollegieblock</h3>
	<canvas doughnutchart options="options" data="kollegiedata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Returpapper med spiralen kvar</strong></p>
</div>
<div id="kuvert" class="sortbox">
	<h3>Kuvert</h3>
	<canvas doughnutchart options="options" data="kuvertdata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Restavfall</strong></p>
</div>
<div id="laminerad" class="sortbox">
	<h3>Laminerat papper</h3>
	<canvas doughnutchart options="options" data="lamineraddata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Restavfall</strong></p>
</div>
<div id="smor" class="sortbox">
	<h3>Omslagspapper för smör</h3>
	<canvas doughnutchart options="options" data="smordata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Pappersförpackning</strong></p>
</div>
<div id="medicin" class="sortbox">
	<h3>Medicinkarta (tom)</h3>
	<canvas doughnutchart options="options" data="medicindata" width="200" height="200"></canvas>
	<p class="svar">Rätt svar: <strong>Mjukplast</strong></p>
</div>