<div id="menubar"><img src="/content/bilder/ic_drawer.png" id="menu-indicator" alt="" /><h1><a href="/">Bildmuseet</a></h1><img src="/content/bilder/ic_action_search.png" id="search" alt="" /></div>

<div class="floor">
	<h2>Våning 1</h2>
	<div class="list-item odd">
		<img src="http://placekitten.com/55/75" alt="" />
		<h3>Mona Lisa</h3>
		<p>Målades den 3 januari 1923</p>
	</div>
	<div class="list-item even">
		<img src="http://placekitten.com/55/75" alt="" />
		<h3>Mona Lisa</h3>
		<p>Målades den 3 januari 1923</p>
	</div>
</div>

<div class="floor">
	<h2>Våning 2</h2>
	<div class="list-item odd">
		<img src="http://placekitten.com/55/75" alt="" />
		<h3>Mona Lisa</h3>
		<p>Målades den 3 januari 1923</p>
	</div>
	<div class="list-item even">
		<img src="http://placekitten.com/55/75" alt="" />
		<h3>Mona Lisa</h3>
		<p>Målades den 3 januari 1923</p>
	</div>
</div>