<div id="menubar"><img src="/content/bilder/ic_drawer.png" id="menu-indicator" alt="" /><h1><a href="/">Inställningar</a></h1><img src="/content/bilder/ic_action_search.png" id="search" alt="" /></div>

<!--<label class="setting-label">GENERELLA INSTÄLLNINGAR</label>
<ul class="setting-list">
<li>Lorem ipsum</li>
</ul>-->

<label class="setting-label">NOTIFIKATIONSINSTÄLLNINGAR</label>
<ul class="setting-list">
<li>Tillåt notifikationer</li>
<li>Välj ljudsignal</li>
<li>Endast vibration</li></ul>

<label class="setting-label">POSITIONSINSTÄLLNINGAR</label>
<ul class="setting-list">
<li>Tillåt Artnet att använda enhetens GPS</li>
<li>Tillåt Konst i Västerbotten att ta del av din aktivitet</li></ul>